
body{
    background-color: #F3F3F3;
}
.header
{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-top:112px;
    align-content: space-between;

}
.footer
{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-top:194px;

}
.logo{
margin-left: 100px;
}
.menu{
    margin-right: 100px;
    word-spacing: 32px;
    font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 120%;
color: #181717;
margin-left: 100px;

}
.title
{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 225px;
}
.intro{
margin-left: 100px;
width: 360px;
/* Heading-1 */

}
.description
{
margin-right: 100px;
width: 580px;
margin-left: 100px;
    


}
h1{

    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 97.2%;
    /* or 58px */
    
    letter-spacing: -0.03em;
    
    /* Main Black */
    
    color: #181717;
}
h2{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 117%;
    /* or 37px */
    
    letter-spacing: -0.03em;
    
    color: #606060;
    position: relative;
    top: 35px;
    
}
a{
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 120%;
    color: #181717;
    text-decoration: none;
}

.down-arrow{
    margin-left: 100px;
    margin-top: 116px;
}

.post{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 113px;

}
.txt{
margin-left: 100px;
width: 356px;
display: flex;
flex-flow: column wrap;
}
.banner{
    
    margin-left: 100px;
    margin-right: 100px;
    
}
.tag{
    height: 302px;
    width: 540px;
}
.po-title{

    height: 19px;
    width: 326.2135925292969px;
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 121.5%;
color: #181717;
    
}
.po-des{
    height: 40px;
    width: 356px;
    left: 0px;
    top: 44px;
    border-radius: nullpx;
    font-family: Inter;
font-style: normal;
font-weight: 400px;
font-size: 18px;
line-height: 121.5%;

letter-spacing: -0.03em;



color: #181717;
    
}
.po-detail{
    height: 35px;
width: 315.3398132324219px;
left: 0px;
top: 145px;
border-radius: nullpx;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 121.5%;
/* or 17px */

letter-spacing: -0.03em;

/* Main Gray */

color: #606060;
position: relative;
top: 30px;

}
.po-link{
    height: 20px;
width: 326.2135925292969px;

margin-top: 90px;
border-radius: nullpx;
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 121.5%;
margin-bottom: 55px;
/* or 22px */

letter-spacing: -0.03em;
text-decoration-line: underline;

/* Main Black */

color: #181717;


}
.break{
    height: 0px;

width: 86%;

border-radius: nullpx;

margin-top: 106px;

border: 1.5px solid #181717;
border-bottom: 0px;
}
.fl{
    
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    color: #2429AF;
    margin-left: 100px;
    }
    .fr{
    
    font-family: DM Sans;
    word-spacing: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    color: #181717;
    
    align-self: flex-end;
    margin-right: 100px;
    margin-left: 100px;
    
    }
    
    .ab-title{
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 225px;
        align-content: space-around;
    }
    .ab-main{
        width: 480px;
        height: 199px;
        margin-left: 100px;
        margin-top: 0;
        margin-right: 100px;
        
        /* Heading-1 */
        
        font-family: DM Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 60px;
        line-height: 97.2%;
        /* or 58px */
        
        letter-spacing: -0.03em;
        
        /* Main Black */
        
        color: #181717;
    }
    .ab-sec{
        width: 525px;

margin-left: 100px;
        margin-right: 100px;

/* Heading-2 */

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 117%;
/* or 37px */

letter-spacing: -0.03em;

/* Main Gray */

color: #606060;

    }
    .pp{

        height: 590px;
width: 400px;
margin-left: 100px;
        margin-right: 100px;
border-radius: 0px;

    }

.p2{
   margin-top: 100px;
    width: 525px;
    
    margin-left: 100px;
            margin-right: 100px;
    
    /* Heading-2 */
    
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 117%;
    /* or 37px */
    
    letter-spacing: -0.03em;
    
    /* Main Gray */
    
    color: #606060;
    
}


.table{
    display: flex;
    flex-flow: column wrap;

}
.r1{
    display: flex;
    flex-flow: row wrap; 
    justify-content: flex-start;
    margin-left: 100px;
    margin-top: 136px;
    


}
.r2{
    display: flex;
    flex-flow: row wrap; 
    justify-content:flex-start;
    margin-left: 100px;
    margin-top: 72px;
    

}
.r1c1{
    width: 124px;
    height: 20px;
    
    
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 121.5%;
    /* or 22px */
    
    letter-spacing: -0.03em;
    text-decoration-line: underline;
    
    /* Main Black */
    
    color: #181717;
    margin-right:100px ;
}
.r2c1{
    width: 124px;
height: 20px;

margin-right:100px ;
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 121.5%;
/* or 22px */

letter-spacing: -0.03em;
text-decoration-line: underline;

/* Main Black */

color: #181717;
}
.r1c2{
    width: 401px;
   
    margin-right:100px ;
    
    /* Body */
    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 121.5%;
    /* or 22px */
    
    letter-spacing: -0.03em;
    
    /* Main Black */
    
    color: #181717;
}
.r2c2{
   
width: 401px;


margin-right:100px ;
/* Body */

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 121.5%;
/* or 22px */

letter-spacing: -0.03em;

/* Main Black */

color: #181717;
}

.dwnn{
    margin-top: 24px;
}

.ab-bottom{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-around;margin-top: 76px;
}
.left{
margin-left: 100px;

width: 347px;
height: 71px;


/* Heading-2 */

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 117%;
/* or 37px */

letter-spacing: -0.03em;

/* Main Black */

color: #181717;
}
.work{
    margin-left: 100px;
    margin-right: 100px;
  
width: 372px;
height: 37px;


/* Heading-2 */

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 117%;
/* or 37px */

letter-spacing: -0.03em;

/* Main Black */

color: #181717;
}
.resume{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 65px;
width: 110px;
height: 22px;


/* Body */

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 121.5%;
/* identical to box height, or 22px */

letter-spacing: -0.03em;

/* Main Black */

color: #181717;
}