
.logo{
    display: inline-block;
    position: absolute;
    left: 160px;
    height: 23px;
    width: 67.46px;

}
.menu{
    display: inline-block;
    word-spacing: 31.35px;
    position: absolute;
   left: 750px;
    font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 120%;
color: #181717;
}
a{
        font-family: DM Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 120%;
        color: #181717;
        text-decoration: none;
}
.header{
    margin-top: 112px;
}
.h11{
    display: inline-block;
    font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 60px;
line-height: 97.2%;
color:  #181717;
width: 400px;
height: 129px;
position: absolute;
left: 160px;
top: 360px;
}
.h21{
    display: inline-block;
    width: 580px;
height: 111px;
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 117%;
color: #606060;
position: absolute;
left: 39.75rem;
top: 424px;

}
.ab-title{
    display: block;
    font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 60px;
line-height: 97.2%;
color:  #181717;
width: 500px;
height: 129px;
position: absolute;
left: 160px;
top: 360px;

}
.ab-des{
        display: block;
    width: 580px;
height: 111px;
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 117%;
color: #606060;

position: absolute;

top: 691px;
left: 160px;
    
}
.down{
    position: relative;
    top: 50px;
}
.down-arr{
    position: absolute;
    top:650.18px;
    left: 160.03px;
}
.post{
    position: absolute;
    padding-top: 130px;
    padding-bottom: 106px;
    margin-left: 160px;
    margin-right: 160px;
    top: 651px;
    
    width: 1000px;
}
.post2{
    position: absolute;
    padding-top: 130px;
    padding-bottom: 106px;
    margin-left: 160px;
    margin-right: 160px;
    top: 1065px;
    
    width: 1000px;
}
.post3{
    position: absolute;
    padding-top: 130px;
    padding-bottom: 106px;
    margin-left: 160px;
    margin-right: 160px;
    top: 1497px;
    
    width: 1000px;
}
.tag{
    
    float: right;
    height: 264.6px;
width: 540px;







    
}
.po-title{

    height: 19px;
    width: 326.2135925292969px;
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 121.5%;
color: #181717;
    
}
.po-des{
    height: 40px;
    width: 356px;
    left: 0px;
    top: 44px;
    border-radius: nullpx;
    font-family: Inter;
font-style: normal;
font-weight: 400px;
font-size: 18px;
line-height: 121.5%;

letter-spacing: -0.03em;



color: #181717;
    
}
.po-detail{
    height: 35px;
width: 315.3398132324219px;
left: 0px;
top: 145px;
border-radius: nullpx;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 121.5%;
/* or 17px */

letter-spacing: -0.03em;

/* Main Gray */

color: #606060;
position: relative;
top: 30px;

}
.po-link{
    height: 20px;
width: 326.2135925292969px;
left: 0px;
top: 347px;
border-radius: nullpx;
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 121.5%;
/* or 22px */

letter-spacing: -0.03em;
text-decoration-line: underline;

/* Main Black */

color: #181717;
position: relative;
top: 80px;

}
hr{
    height: 0px;
width: 1115.057373046875px;


border-radius: nullpx;
position: relative;
top: 70px;
width: 1000px;
border: 1.5px solid #181717;
border-bottom: 0px;
}

.footer{
    margin-top: 194px;
    margin-bottom: 50px;
    position: absolute;
    top: 1913px;
    left: 160px;
    

width: 1000px;
height: 20px;
}
.ab-footer{
    position: absolute;
    top:1772px;
    left: 160px;
    margin-top: 194px;
    margin-bottom: 50px;
    
    

width: 1000px;
height: 20px;
}
    
.fl{
display: inline-block;
font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 21px;
color: #2429AF;
}
.fr{
display: inline-block;
font-family: DM Sans;
word-spacing: 32px;
font-style: normal;
font-weight: 500;
font-size: 21px;
color: #181717;
position: absolute;
align-self: flex-end;
position: absolute;
right: 0px;

}

.td-dwn
{
    position: relative;
    top: 32px;
}
.skills
{
position: absolute;
top: 1189px;
left:97px;

}
.bo{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 121.5%;
    /* or 22px */
    
    letter-spacing: -0.03em;
    text-decoration-line: underline;
    
    /* Main Black */
    
    color: #181717;
}
.data{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 121.5%;
    /* or 22px */
    
    letter-spacing: -0.03em;
    
    /* Main Black */
    
    color: #181717;
}
.r2{
    position: relative;
    top: 100px;
}
.ab-bottom{
    position: absolute;

left: 160px;
top: 1600px;

}
.project{
    position: absolute;
width: 347px;
height: 71px;
left: 160px;
top: 1675px;



font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 117%;



color: #181717;
}
.mail{
    position: absolute;
width: 372px;
height: 37px;
left: 775px;
top: 1675px;



font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 117%;




color: #181717;
}
.resume {
    
position: absolute;
width: 150px;
height: 22px;
left: 775px;
top: 1750px;



font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 121.5%;


color: #181717;
}